apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  namespace: n8n
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
  template:
    metadata:
      labels:
        app: n8n
    spec:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
      containers:
      - name: n8n
        image: n8nio/n8n:2.2.2
        ports:
        - containerPort: 5678
        env:
        - name: N8N_HOST
          value: "n8n.kirillorlov.pro"
        - name: N8N_PROTOCOL
          value: "https"
        - name: N8N_PORT
          value: "5678"
        - name: WEBHOOK_URL
          value: "https://n8n.kirillorlov.pro/"
        - name: GENERIC_TIMEZONE
          value: "Europe/Berlin"
        - name: DB_TYPE
          value: "postgresdb"
        - name: DB_POSTGRESDB_SSL_ENABLED
          value: "true"
        - name: DB_POSTGRESDB_SSL_REJECT_UNAUTHORIZED
          value: "false"
        - name: DB_POSTGRESDB_DATABASE
          value: "n8n"
        - name: DB_POSTGRESDB_HOST
          value: "n8n-db.n8n.svc.cluster.local"
        - name: DB_POSTGRESDB_PORT
          value: "5432"
        - name: DB_POSTGRESDB_USER
          valueFrom:
            secretKeyRef:
              name: n8n.n8n-db.credentials.postgresql.acid.zalan.do
              key: username
        - name: DB_POSTGRESDB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: n8n.n8n-db.credentials.postgresql.acid.zalan.do
              key: password
        volumeMounts:
        - name: n8n-data
          mountPath: /root/.n8n
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
        securityContext:
          runAsUser: 0
          runAsGroup: 0
      volumes:
      - name: n8n-data
        persistentVolumeClaim:
          claimName: n8n-data
