[seedbox]
type = ftp
host = {{ rclone_host }}
user = {{ rclone_user }}
pass = {{ rclone_pass }}
explicit_tls = true

[sftp_seedbox]
type = sftp
host = {{ rclone_host }}
user = {{ rclone_user }}
pass = {{ rclone_pass }}
shell_type = unix