apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://github.com/kubevirt/kubevirt/releases/download/v1.7.0/kubevirt-operator.yaml
  - https://github.com/kubevirt/kubevirt/releases/download/v1.7.0/kubevirt-cr.yaml
  - https://github.com/kubevirt/containerized-data-importer/releases/download/1.64.0/cdi-operator.yaml
  - https://github.com/kubevirt/containerized-data-importer/releases/download/1.64.0/cdi-cr.yaml
patches:
  - target:
      kind: Namespace
      name: kubevirt
    patch: |-
      apiVersion: v1
      kind: Namespace
      metadata:
        name: kubevirt
        labels:
          pod-security.kubernetes.io/enforce: privileged
  - target:
      kind: KubeVirt
      name: kubevirt
    patch: |-
      apiVersion: kubevirt.io/v1
      kind: KubeVirt
      metadata:
        name: kubevirt
        annotations:
          argocd.argoproj.io/sync-wave: "1"
