apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - https://github.com/kubevirt/kubevirt/releases/download/v1.7.0/kubevirt-operator.yaml
  - https://github.com/kubevirt/kubevirt/releases/download/v1.7.0/kubevirt-cr.yaml
patches:
  - target:
      kind: namespace
      name: kubevirt
    patch: |-
      metadata:
        labels:
          pod-security.kubernetes.io/enforce: privileged
  - target:
      kind: KubeVirt
      name: kubevirt
    patch: |-
      apiVersion: kubevirt.io/v1
      kind: KubeVirt
      metadata:
        name: kubevirt
        annotations:
          argocd.argoproj.io/sync-wave: "1"
