apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: prometheus
    server: https://kubernetes.default.svc
  project: default
  ignoreDifferences:
    - group: '*'
      jqPathExpressions:
        - .data."admin-user"
        - .data."admin-password"
      kind: Secret
    - group: '*'
      jqPathExpressions:
        - .metadata.annotations."gethomepage.dev/widget.password"
      kind: Ingress
  source:
    chart: kube-prometheus-stack
    helm:
      valuesObject:
        crds:
          upgradeJob:
            forceConflicts: true
            enabled: true

        prometheus-node-exporter:
          tolerations: 
            - key: "weakling"
              operator: "Equal"
              value: "true"
              effect: "NoSchedule"
            - key: "weakling"
              operator: "Equal"
              value: "true"
              effect: "NoExecute"
        kubeEtcd:
          enabled: false
        alertmanager:
          ingress:
            enabled: true
            hosts:
              - alertmanager.kirillorlov.pro
            tls: 
            - secretName: alertmanager-secret
              hosts:
                - alertmanager.kirillorlov.pro
            annotations:
              cert-manager.io/cluster-issuer: "acme-issuer"
              gethomepage.dev/enabled: "true"
              gethomepage.dev/href: "https://alertmanager.kirillorlov.pro"
              gethomepage.dev/group: Cluster Management
              gethomepage.dev/name: Alertmanager
              gethomepage.dev/icon: alertmanager.png
              gethomepage.dev/pod-selector: "app.kubernetes.io/name=alertmanager"
          alertmanagerSpec:
            storage:
              volumeClaimTemplate:
                spec:
                  storageClassName: "ceph-block"
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: 5Gi
        grafana:
          enabled: false

          #plugins:
          #  - victoriametrics-logs-datasource
          #  - victoriametrics-metrics-datasource
          #ingress:
          #  enabled: true
          #  hosts:
          #    - grafana.kirillorlov.pro
          #  tls:
          #  - secretName: grafana-secret
          #    hosts:
          #      - grafana.kirillorlov.pro
          #  annotations:
          #    cert-manager.io/cluster-issuer: "acme-issuer"
          #    gethomepage.dev/enabled: "true"
          #    gethomepage.dev/href: "https://grafana.kirillorlov.pro"
          #    gethomepage.dev/group: Cluster Management
          #    gethomepage.dev/name: Grafana
          #    gethomepage.dev/icon: grafana.png
          #    gethomepage.dev/pod-selector: "app.kubernetes.io/name=grafana"
          #    gethomepage.dev/widget.type: grafana
          #    gethomepage.dev/widget.url: http://prometheus-grafana.prometheus.svc.cluster.local
          #    gethomepage.dev/widget.username: diverofdark
          #    gethomepage.dev/widget.password: "$admin-password$"
          #    kirillorlov.pro/annotationsFromSecretName: prometheus-grafana
        
          persistence:
            enabled: true
            type: sts
            storageClassName: "ceph-block"
            accessModes: ["ReadWriteOnce"]
            size: 5Gi
            finalizers:
              - kubernetes.io/pvc-protection
        prometheus:
          prometheusSpec:
            podMonitorNamespaceSelector: {}
            podMonitorSelector: {}
            podMonitorSelectorNilUsesHelmValues: false
            ruleNamespaceSelector: {}
            ruleSelector: {}
            ruleSelectorNilUsesHelmValues: false
            serviceMonitorNamespaceSelector: {}
            serviceMonitorSelector: {}
            serviceMonitorSelectorNilUsesHelmValues: false
            probeNamespaceSelector: {}
            probeSelector: {}
            probeSelectorNilUsesHelmValues: false
            scrapeConfigNamespaceSelector: {}
            scrapeConfigSelector: {}
            scrapeConfigSelectorNilUsesHelmValues: false
            storageSpec:
              volumeClaimTemplate:
                spec:
                  storageClassName: "ceph-block"
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: 25Gi
          ingress:
            enabled: true
            hosts:
              - prometheus.kirillorlov.pro
            tls: 
            - secretName: prometheus-secret
              hosts:
                - prometheus.kirillorlov.pro
            annotations:
              cert-manager.io/cluster-issuer: "acme-issuer"
              gethomepage.dev/enabled: "true"
              gethomepage.dev/href: "https://prometheus.kirillorlov.pro"
              gethomepage.dev/group: Cluster Management
              gethomepage.dev/name: Prometheus
              gethomepage.dev/icon: prometheus.png
              gethomepage.dev/pod-selector: "app.kubernetes.io/name=prometheus"
              gethomepage.dev/widget.type: prometheus
              gethomepage.dev/widget.url: http://prometheus-operated.prometheus.svc.cluster.local:9090 

    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 79.12.0
  syncPolicy:
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: privileged
    automated:
      prune: true
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true
    - RespectIgnoreDifferences=true
