# https://github.com/walkxcode/dashboard-icons - here are icons

apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage
  namespace: statuspage
  labels:
    app.kubernetes.io/name: homepage
data:
  kubernetes.yaml: |
    mode: cluster
    ingress: true
    traefik: true
  settings.yaml: |
    title: Kirill Orlov HomeLab
    startUrl: https://status.kirillorlov.pro
    base: https://status.kirillorlov.pro
    theme: dark
    fiveColumns: true
    disableCollapse: true
    useEqualHeights: true
    statusStyle: dot
    showStats: true
  custom.css: ""
  custom.js: ""
  bookmarks.yaml: |
    - Developer:
        - Github:
            - abbr: GH
              href: https://github.com/
  services.yaml: |
    - Infra:
        - FritzBox:
            href: http://192.168.178.1/
            icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/svg/avm-fritzbox.svg
            widget:
              type: fritzbox
              url: http://192.168.178.1/
        - Pihole:
            href: http://192.168.178.2/
            icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/svg/pi-hole.svg
            description: DNS Adblocker
            widget:
              type: pihole
              url: http://192.168.178.2
              version: "6"
        - Minio:
            href: https://yggdrasil.kirillorlov.pro/minio/ui/login
            icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/svg/minio.svg
            description: Backup storage

  widgets.yaml: |
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "cluster"
        nodes:
          show: true
          cpu: true
          memory: true
          showLabel: true
    
    - openmeteo:
        label: Berlin # optional
        latitude: 52.50
        longitude: 13.33
        timezone: Europe/Berlin 
        units: metric 
        cache: 10
        format: # optional, Intl.NumberFormat options
          maximumFractionDigits: 1
    - search:
        provider: google
        target: _blank
  docker.yaml: ""