apiVersion: apps/v1
kind: Deployment
metadata:
  name: actualbudget
  namespace: actualbudget
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/pod: actualbudget
  template:
    metadata:
      labels:
        app.kubernetes.io/pod: actualbudget
        app.kubernetes.io/name: actualbudget
    spec:
      volumes:
        - name: actualbudget
          persistentVolumeClaim:
            claimName: actualbudget
      containers:
        - image: 'actualbudget/actual-server:25.12.0'
          imagePullPolicy: IfNotPresent
          name: actualbudget
          ports:
            - containerPort: 5006
              protocol: TCP
              name: "http"
          volumeMounts:
            - mountPath: /data
              name: actualbudget
          livenessProbe:
            httpGet:
              path: /
              port: 5006
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: 5006
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            successThreshold: 1
            failureThreshold: 3
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: actualbudget-api
  namespace: actualbudget
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/pod: actualbudget-api
  template:
    metadata:
      labels:
        app.kubernetes.io/pod: actualbudget-api
        app.kubernetes.io/name: actualbudget
    spec:
      containers:
        - image: 'jhonderson/actual-http-api:25.11.0'
          imagePullPolicy: IfNotPresent
          name: actualbudget-api
          env:
            - name: ACTUAL_SERVER_URL
              value: "http://actualbudget.actualbudget.svc.cluster.local/"
            - name: ACTUAL_SERVER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: actualbudget
                  key: password
            - name: API_KEY
              valueFrom:
                secretKeyRef:
                  name: actualbudget
                  key: apikey
          ports:
            - containerPort: 5007
              protocol: TCP
              name: "http"
          livenessProbe:
            httpGet:
              path: /api-docs
              port: 5007
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /api-docs
              port: 5007
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            successThreshold: 1
            failureThreshold: 3
