advertise-client-urls: https://{{ ansible_default_ipv4.address }}:2379
client-transport-security:
  cert-file: /var/lib/etcd/default/tls/server-client.crt
  client-cert-auth: true
  key-file: /var/lib/etcd/default/tls/server-client.key
  trusted-ca-file: /var/lib/etcd/default/tls/server-ca.crt
data-dir: /var/lib/etcd/default
election-timeout: 5000
experimental-initial-corrupt-check: true
experimental-watch-progress-notify-interval: 5000000000
heartbeat-interval: 100
listen-client-http-urls: https://127.0.0.1:2382
listen-client-urls: https://127.0.0.1:2379,https://{{ ansible_default_ipv4.address }}:2379
listen-metrics-urls: http://127.0.0.1:2381
listen-peer-urls: https://127.0.0.1:2380,https://{{ ansible_default_ipv4.address }}:2380
log-outputs:
- stderr
logger: zap
name: {{ inventory_hostname  }}
peer-transport-security:
  cert-file: /var/lib/etcd/default/tls/peer-server-client.crt
  client-cert-auth: true
  key-file: /var/lib/etcd/default/tls/peer-server-client.key
  trusted-ca-file: /var/lib/etcd/default/tls/peer-ca.crt
snapshot-count: 1000