[defaults]
nocows = True
roles_path = ./roles
inventory  = ./inventory.yml

remote_tmp = $HOME/.ansible/tmp
local_tmp  = $HOME/.ansible/tmp
pipelining = True
become = True
host_key_checking = False
deprecation_warnings = False
callback_whitelist = profile_tasks

strategy = mitogen_linear
strategy_plugins = ./.venv/lib/python3.13/site-packages/ansible_mitogen/plugins/strategy