/var/log/dnsmasq.log {
    daily
    size 100M
    rotate 1
    missingok
    notifempty
    compress
    delaycompress
    postrotate
        # Signal dnsmasq to reopen logs
        if pidof dnsmasq > /dev/null; then
            kill -USR1 $(pidof dnsmasq)
        fi
    endscript
}